details {
  display: flex;
  flex-direction: column;
  
  margin-top : 20px;
  width: min(1200px, 90vw);
  
}

summary {
        backdrop-filter: blur(5px);
    background-color: rgba(255, 255, 255, 0.3);
    
    width: 100%;
    box-sizing: border-box;

    padding: 10px 12px;
    
    border-radius: 20px;
    border-top: 1px solid #ffffff90;
    border-left: 1px solid #ffffff90;
    border-right: 1px solid #ffffff90;
    box-shadow: 1px 1px 1px #000f;
    
    font-size: clamp(14px, 1.1vw, 18px);
    font-weight: bold;
    color: black;
 font-family: "JetBrains Mono", "Fira Code", monospace;
  cursor: pointer;
  outline: none;
}

/* Rimuove il triangolino di default su Chrome/Safari */
summary::-webkit-details-marker {
    
  display: none;
}

details summary {
    
  transition: all 0.3s ease;
}

.glass-box-black {

    color: white;
    backdrop-filter: blur(5px);
    background-color: rgba(0, 0, 0, 0.3);
    
    padding-inline: 20px;
    border-radius: 20px;
    border-top: 1px solid #00000090;
    border-left: 1px solid #00000090;
    box-shadow: 1px 1px 1px #000f;
    
    padding-bottom: 1px;
}
.glass-details {
    margin-bottom: 15px;
}
.details-grid {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
}
body {
    font-size: clamp(14px, 1.2vw, 18px);
}
