body {
    background-image: url("media/background.jpeg"); /*background-image: url("https://images.pexels.com/photos/518543/pexels-photo-518543.jpeg?cs=srgb&dl=pexels-brotin-biswas-158640-518543.jpg&fm=jpg");*/
    background-size: cover;
    background-position: center;
    
    background-attachment: fixed;
    
    font-family: "JetBrains Mono", "Fira Code", monospace;
}

.glass-box {
    backdrop-filter: blur(5px);
    background-color: rgba(255, 255, 255, 0.3);
    
    padding-inline: 20px;
    border-radius: 20px;
    border-top: 1px solid #ffffff90;
    border-left: 1px solid #ffffff90;
    box-shadow: 1px 1px 1px #000f;
}

.floating {
    position: fixed;
    z-index: 1;
}

.glass-input {
    backdrop-filter: none;
    background-color: rgba(255, 255, 255, 0);

    margin: 5px;
    padding: 5px;

    font-family: "JetBrains Mono", "Fira Code", monospace; /*styles from body overridden by default (for input elements)*/
}

.glass-input::placeholder {
    color: black;
    opacity: 1;
}

.glass-input:focus {
    background-color: rgba(0, 0, 0, 0.3);
}

#form-login-button {
    cursor: pointer;
    border-bottom: none;
    border-right: none;
    transition: 0.5s;
}

#form-login-button:hover {
      background-color: rgba(0, 0, 0, 0.3);
}

.hidden{
    display: none;
}

#main-card-box{
    margin-inline: 32px; /* 40px (same as gap) - 8px (default body maring) */
    margin-top: 100px;
    height: 300px;
    display: flex;
    flex-direction: row;
    gap :40px;
}

.main-card{
    width: 100%;
}