body {
    background-image: url("https://images.pexels.com/photos/10004971/pexels-photo-10004971.jpeg?cs=srgb&dl=pexels-planeteelevene-10004971.jpg&fm=jpg");
    background-size: cover;
    background-position: center;
}
.titolo {
    backdrop-filter: blur(10px);
    
    display: flex;
    align-items: center;
}